body {
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    /* background: url("images/tanner-vines-38164.jpg"); */
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #036;
    border-bottom: 2px solid #fcba19;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f0f0f0;
    background-color: #236093;
/*    background-color:  rgba(0, 51, 102, 0.80); */
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.leaflet-container {
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';;
}

.leaflet-popup td {
    border: 1px #f0f0f0 solid;
    padding: 2px 5px;
}

.nav-tabs {
    margin: 20px 0;
}

.tab-content p {
  padding: 0 15px 0 0;
}

hr {
    border-top: 1px solid #ccc;
}

.container .jumbotron, .container-fluid .jumbotron {
    min-height: 960px;
    background: url("../images/vancouver2.jpg");
    border-radius: 0;
}

.container .jumbotron, .container-fluid .jumbotron h1 {
/*    color: #333;
    text-shadow: 5px 5px 5px #fff;*/
    color: #e7e7e7;
    margin-bottom: 50px;
}

.container-fluid .jumbotron .quick-fact {
    font-size: 28px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #cfcfcf;
    padding: 30px;
    margin-bottom: 30px;

}

.alert {
  background-color: #f5f5f5;
  color: #393939;
  border: 1px solid #e3e3e3;
}

.tooltip-inner {
  text-align: left;
  background-color: #393939;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #393939;
}
