body {
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    /* background: url("images/tanner-vines-38164.jpg"); */
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #036;
    border-bottom: 2px solid #fcba19;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f0f0f0;
    background-color: #236093;
/*    background-color:  rgba(0, 51, 102, 0.80); */
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.leaflet-container {
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';;
}

.leaflet-popup td {
    border: 1px #f0f0f0 solid;
    padding: 2px 5px;
}

.nav-tabs {
    margin: 20px 0 0;
}

hr {
    border-top: 1px solid #ccc;
}

.container .jumbotron, .container-fluid .jumbotron {
    min-height: 680px;
    background: url("../images/vancouver.jpg");
    border-radius: 0;
}

.container .jumbotron, .container-fluid .jumbotron h1 {
    color: #333;
    text-shadow: 5px 5px 5px #fff;
}

.container .jumbotron, .container-fluid .jumbotron ul {
    list-style: none;
}

.container .jumbotron, .container-fluid .jumbotron ul li {
    padding: 30px;
    margin: 30px;
    font-size: 28px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #cfcfcf;
    width: 45%;
}

.container .jumbotron, .container-fluid .jumbotron ul li.left {
    float: left;
}

.container .jumbotron, .container-fluid .jumbotron ul li.right {
    float: right;
}
