body {
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    /* background: url("images/tanner-vines-38164.jpg"); */
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #036;
    border-bottom: 3px solid #fcba19;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav>li>a {
/*    line-height: 30px; */
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f0f0f0;
    background-color: #236093;
/*    background-color:  rgba(0, 51, 102, 0.80); */
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
    color: transparent;
    background: transparent url("../images/BCID_H_rgb_rev.png") no-repeat center center;
}

.well {
    padding: 9px 19px 0;
}

.well .shiny-input-container {
    margin-bottom: 0;
}

.dropdown-menu {
  background-color: #38598a;
}

.dropdown-menu>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #38598a;
    text-decoration: underline;
}

.leaflet-container {
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';;
}

.leaflet-popup td {
    border: 1px #f0f0f0 solid;
    padding: 2px 5px;
}

.nav-tabs {
    margin: 20px 0;
}

.tab-content p {
  padding: 0 15px 0 0;
}

hr {
    border-top: 1px solid #ccc;
}

.container .jumbotron, .container-fluid .jumbotron {
    min-height: 960px;
    /*background: url("../images/vancouver2.jpg");*/
    background: url("../images/spencer-watson-528071.jpg") no-repeat 50% 0;
    border-radius: 0;
}

.container .jumbotron, .container-fluid .jumbotron h1 {
    color: #e6e6e6;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: #363636 2px 2px 5px, -2px -2px 5px #363636;
}

.container-fluid .jumbotron .quick-fact-container {
    background-color: rgba(255, 255, 255, 0.85);
    margin-bottom: 65px;
    padding: 10px 0;
    border: 1px solid #cfcfcf;
}

.container-fluid .jumbotron .quick-fact {
    font-size: 18px;
    padding: 30px;
}

/*
.container-fluid .jumbotron .quick-fact.line2 {
    background-color: rgba(245, 245, 245, 0.85);
}

.container-fluid .jumbotron .quick-fact.line3 {
    background-color: rgba(205, 205, 235, 0.85);
}

.container-fluid .jumbotron .quick-fact.line4 {
    background-color: rgba(235, 205, 205, 0.85);
}
*/

.splash-icon {
    display: inline-block;
    font-size: 36px;
    width: 52px;
    height: 52px;
    color: #505050;
    vertical-align: top;
}

.splash-text {
    display: inline-block;
    width: 80%;
}

#splash-intro {
    margin: 15px 0 30px;
    font-size: 14px;
}

#splash-intro-credit {
    font-size: 11px;
}

.alert {
  background-color: #f5f5f5;
  color: #393939;
  border: 1px solid #e3e3e3;
}

.tooltip-inner {
  text-align: left;
  background-color: #393939;
  padding: 10px 15px;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #393939;
}
